{% extends '@admin_views/layout.html.twig' %}

{% block title %}{{ name_admin() }} | Admin Blocks{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Admin
                <small>Blocks</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-shield"></i> Admin</li>
                <li class="active"><i class="fa fa-bars"></i> Blocks</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Blocks</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="indexlist" class="table table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Route</th>
                                <th>ListingOrder</th>
                                <th>Visible</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for cms_block in cms_blocks %}
                                <tr>
                                    <td>{{ cms_block.name }}</td>
                                    <td>{{ cms_block.route }}</td>
                                    <td>{{ cms_block.listingOrder }}</td>
                                    <td>{{ cms_block.visible ? 'Yes' : 'No' }}</td>
                                    <td>
                                        <a href="{{ path('admin_cms_blocks_show', {'id': cms_block.id}) }}" class="btn bg-navy"><i class="fa fa-file-text"></i> <span class="hidden-xs">show</span></a>
                                        <a href="{{ path('admin_cms_blocks_edit', {'id': cms_block.id}) }}" class="btn bg-orange"><i class="fa fa-edit"></i> <span class="hidden-xs">edit</span></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">no records found</td>
                                </tr>
                            {% endfor %}
                        <tbody>

                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Route</th>
                                <th>ListingOrder</th>
                                <th>Visible</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                    </table>
                    <a href="{{ path('admin_cms_blocks_new') }}" class="btn bg-olive"><i class="fa fa-plus-circle"></i> add new</a>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- DataTables -->
    <script src="{{ asset('bundles/zardadmin/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/zardadmin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#indexlist').DataTable({
                'paging'      : true,
                'lengthChange': false,
                'searching'   : false,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false,
                'pageLength'  : 20
            })
        })
    </script>
{% endblock %}