{% extends '@admin_views/layout.html.twig' %}

{% block title %}{{ name_admin() }} | Admin Texts - Add New{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('bundles/zardadmin/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{{ asset('bundles/zardadmin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Admin
                <small>Add Texts</small>
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-shield"></i> Admin</li>
                <li><a href="{{ path('admin_cms_texts_index') }}"><i class="fa fa-text-height"></i> Texts</a></li>
                <li class="active">Add New</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-success">
                <div class="box-header with-border">
                    {{ include('@admin_views/admin/_cms_texts/_form.html.twig') }}
                    <a href="{{ path('admin_cms_texts_index') }}" class="btn btn-default pull-right"><i class="fa fa-chevron-left"></i> back to list</a>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- CKEditor -->
    <script src="{{ asset('bundles/zardadmin/bower_components/ckeditor/ckeditor.js') }}"></script>
    <script>
        $(function () {
            // CKEditor
            CKEDITOR.replace('cms_texts_text_EN', {height:'100px'});
            CKEDITOR.replace('cms_texts_text_ES', {height:'100px'});
            CKEDITOR.replace('cms_texts_text_JP', {height:'100px'});
        })
    </script>
{% endblock %}