{% extends '@admin_views/layout.html.twig' %}

{% block title %}La Red | Admin - {{ section_title }} - Edit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Presta Bundle -->
    <link rel="stylesheet" href="{{ asset('bundles/zardadmin/dist/css/cropper.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/prestaimage/css/cropper.css') }}">

    {% if multiple_images is defined %}
        <link rel="stylesheet" href="{{ asset('bundles/zardadmin/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/zardadmin/css/toastr.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/zardadmin/css/tingle.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/zardadmin/css/dropzone.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/zardadmin/css/myDropzone.css') }}">
    {% endif %}

    <style>
        #seccion[data-nombre="jobs"] .vich-file{
            display:none;
        }
        .col-form-label.required{
            display:none!important;
        }
        legend{
            font-weight: 700;
        }
        .preview video,
        .preview img{
            display:none;
            margin-bottom:40px;
            margin-right:15px;
        }
        .hide{
            display:none;
        }
    </style>

{% endblock %}

{% block body %}
    <div id="entity" class="content-wrapper"
        data-name="{{ section }}"
        {% if modal is defined %} data-gallery="{{ modal }}" {% endif %}
        data-id="{{ app.request.attributes.get("id") }}"
        data-folder="{{ folder }}">
        <section class="content-header">
            <h1>
                Admin
                <small>{{ section_title|capitalize }}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-dashboard"></i> Panel</a></li>
                <li><a href="{{ path(route~'index') }}"><i class="fa fa-fa-file-text-o"></i>{{ section_title|capitalize }}</a></li>
                <li class="active">Edit</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <!-- Item -->
                    {{ include('@admin_views/layouts/_form.html.twig', {'button_label': 'update', 'button_class': 'success bg-olive', 'i_class': 'fa fa-edit'}) }}
                    <a href="{{ path(route~'index') }}" class="btn btn-default pull-right"><i class="fa fa-chevron-left"></i> back</a>
                    
                    
                    {% if section != 'home' and section != 'page'  and section != 'block_page' %}
                        {{ include('@admin_views/layouts/_delete_form.html.twig', {'section': section}) }}
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- SpeakingURL JS -->
    <script src="{{ asset('bundles/zardadmin/js/speakingurl.min.js') }}"></script>
    <!-- CKEditor 5 -->
    <script src="{{ asset('bundles/zardadmin/bower_components/ckeditor/ckeditor.js') }}"></script>
    <!-- Presta Bundle JS -->
    <script src="{{ asset('bundles/zardadmin/dist/js/cropper.min.js') }}"></script>
    <script src="{{ asset('bundles/prestaimage/js/cropper.js') }}"></script>
    {% if multiple_images is defined and multiple_images == true  %}
        <script src="{{ asset('bundles/zardadmin/js/tingle.js') }}"></script>
        <script src="{{ asset('bundles/zardadmin/js/sortable.js') }}"></script>
        <script src="{{ asset('bundles/zardadmin/js/toastr.min.js') }}"></script>
        <script src="{{ asset('bundles/zardadmin/js/dropzone.js') }}"></script>
        <script src="{{ asset('bundles/zardadmin/js/mydropzone.js') }}"></script>
    {% endif %}
    <script src="{{ asset('bundles/zardadmin/js/layouts.js') }}"></script>
    {% if section == 'city' or section == 'branch_office' or section == 'commerce' %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDYCbZuZBmGNJAK7IIP-xifdU2HNjCymxI&libraries=places"  xmlns=""></script>
    {% endif %}
{% endblock %}