<header class="main-header">
    <!-- Logo -->
    <a href="{{ path('admin_dashboard') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">{{ name_admin()|slice(0,1) }}<b></b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">{{ name_admin() }} <b></b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Contact Messages: style can be found in dropdown.less-->
                {# {{ render(controller('App\\Zard\\AdminBundle\\Controller\\ContactController::getMails')) }} #}
                <!-- Asosciate Messages: style can be found in dropdown.less-->
                {# {{ render(controller('App\\Zard\\AdminBundle\\Controller\\AssociateController::getMails')) }} #}
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    {{ render(controller('App\\Zard\\AdminBundle\\Controller\\ProfileController::getHeaderProfile' , {'user' : app.user.id} )) }}
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>