

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="{{ tt('PAGE_HOME','SEO_TITLE',lang_url)}}">
    	<meta name="description" content="{{ tt('PAGE_HOME','SEO_DESC',lang_url)}}">
		<title>{{ tt('PAGE_HOME','SEO_TITLE',lang_url)}}</title>

		{% set bundleFront = 'bundles/zardfront' %}
		
		<link rel="apple-touch-icon" sizes="180x180" href="{{ asset(bundleFront ~ '/img/favicon/apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ asset(bundleFront ~ '/img/favicon/favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ asset(bundleFront ~ '/img/favicon/favicon-16x16.png') }} ">
		<link rel="manifest" href="{{ asset(bundleFront ~ '/img/favicon/site.webmanifest') }} ">
		<link rel="mask-icon" href="{{ asset(bundleFront ~ '/img/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		
		<link rel="stylesheet" href="{{ asset(bundleFront ~ '/css/owl.theme.default.min.css') }}">
		<link rel="stylesheet" href="{{ asset(bundleFront ~ '/css/owl.carousel.min.css') }}">
		<link rel="stylesheet" href="{{ asset(bundleFront ~ '/css/styles.css') }}">
	</head>
	<body>

		<header>
			<h2 id="brand">Federico Bianchi</h2>
			<div class="btn-header">
				<div class="languages">
					<div class="d-flex">
						{% if lang_url == 'en' %}
						<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}"
						class="{{ lang_url == 'es' ? 'active' : '' }}"> ES </a>
						{% endif %}
						{# <span> /</span> #}
						{% if lang_url == 'es' %}
						<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"
						class="{{ lang_url == 'en' ? 'active' : '' }}"> EN </a>
						{% endif %}
					</div>
				</div>
				<span id="btn-menu"></span>
			</div>
		</header>
		
		<div id="about">
			<div class="row container">
				<div class="col about-studio">
					<h3>{{ tt('ABOUT_STUDIO','TITLE',lang_url)}}</h3>
					<div class="content">
						{{ tt('ABOUT_STUDIO','TEXT',lang_url)|raw }}
					</div>
					<div class="studio-data">
						{# <div class="locations"> #}
						<div class="container-studio">
							<div class="column column-first ">
								<div class="location">
									<h3>{{ tt('OFICINA_BA','TITLE',lang_url)|striptags('<br><strong><i>')|raw }}</h3>
									{{ tt('OFICINA_BA','TEXT',lang_url)|striptags('<a><br><strong><i>')|raw }}
								</div>
								<div class="portfolio">
									<h3>{{ tt('ABOUT_PORTFOLIO','TITLE',lang_url) }}</h3>
									{{ tt('ABOUT_PORTFOLIO','TEXT',lang_url)|striptags('<a><br><strong><i><p>')|raw }}
								</div>
							</div>
							<div class="column">
								<div class="location">
									<h3>{{ tt('OFICINA_BARCELONA','TITLE',lang_url)|striptags('<br><strong><i>')|raw }}</h3>
									{{ tt('OFICINA_BARCELONA','TEXT',lang_url)|striptags('<a><br><strong><i>')|raw }}
								</div>
								<div class="redes">
									{{ tt('LINK_REDES','TEXT',lang_url)|striptags('<a><br><strong><i>')|raw }}
								</div>
							</div>
						</div>
						{# </div> #}
						{# <div class="contact">
							<div class="portfolio">
								<h3>{{ tt('ABOUT_PORTFOLIO','TITLE',lang_url) }}</h3>
								{{ tt('ABOUT_PORTFOLIO','TEXT',lang_url)|striptags('<a><br><strong><i><p>')|raw }}
							</div>
							<div class="redes">
								{{ tt('LINK_REDES','TEXT',lang_url)|striptags('<a><br><strong><i>')|raw }}
							</div>
						</div> #}
					</div>
				</div>
				<div class="col about-bianchi">
					<h3> Federico Bianchi</h3>
					<div class="content">
						{{ tt('ABOUT_FEDERICO_BIANCHI','TEXT',lang_url)|raw }}				
					</div>
				</div>

				<div class="col studio-data mb">
					<div class="locations">
						<div class="office first-office">
							<h3>{{ tt('OFICINA_BA','TITLE',lang_url)|striptags('<br><strong><i>')|raw }}</h3>
							{{ tt('OFICINA_BA','TEXT',lang_url)|striptags('<a><br><strong><i>')|raw }}
						</div>
						<div class="office">
							<h3>{{ tt('OFICINA_BARCELONA','TITLE',lang_url)|striptags('<br><strong><i>')|raw }}</h3>
							{{ tt('OFICINA_BARCELONA','TEXT',lang_url)|striptags('<a><br><strong><i>')|raw }}
						</div>
					</div>
					<div class="contact">
						<div class="portfolio">
							<h3>{{ tt('ABOUT_PORTFOLIO','TITLE',lang_url) }}</h3>
							{{ tt('ABOUT_PORTFOLIO','TEXT',lang_url)|striptags('<a><br><strong><i><p>')|raw }}
						</div>
						<div class="redes">
							{{ tt('LINK_REDES','TEXT',lang_url)|striptags('<a><br><strong><i>')|raw }}
						</div>
					</div>
				</div>
			</div>               
		</div> 

		<div class="owl-carousel desk-show">
			{% for image in projectsGallery %}
				{% if image.mainImage != "" and not image.isMobile %}
					<div class="item" data-project="{{image.projects.id}}">
						<img class="owl-lazy" data-src="{{ asset('images/projects_gallery/' ~ image.mainImage) }}" alt="" srcset="">
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="owl-carousel mb-show">
			{% for imagemb in projectsGallery %}
				{% if imagemb.imageMobile != "" and not imagemb.isMobile %}
					<div class="item" data-project="{{imagemb.projects.id}}">
						<img class="owl-lazy img-mb" data-src="{{ asset('images/projects_gallery/' ~ imagemb.imageMobile) }}" alt="" srcset=""> 
					</div>
				{% endif %}
				{% if  imagemb.mainImage != '' and imagemb.isMobile %}
					<div class="item" data-project="{{imagemb.projects.id}}">
						<img class="owl-lazy img-mb" data-src="{{ asset('images/projects_gallery/' ~ imagemb.mainImage) }}" alt="" srcset=""> 
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="projects">
			{% for project in projects %}
				{% if project.text != "" %}
					<span class="project-desc" style="color:{{ project.color }}" data-project="{{ project.id }}">{{ project.text|raw }}</span>
				{% endif %}
			{% endfor %}
		</div>
	

		<script src="{{ asset(bundleFront ~ '/js/jquery.slim.min.js') }}"></script>
		<script src="{{ asset(bundleFront ~ '/js/owl.carousel.min.js') }}"></script>
		<script src="{{ asset(bundleFront ~ '/js/jquery.start.js') }}"></script>
	</body>
</html>